body{
    padding: 0;
    margin: 0;
    --main-color: #97B735;
}
nav {
    background-color: var(--main-color);
}
nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}
nav ul li {
    display: inline;
    margin: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li button{
    padding: 5px;
    color: #97B735;
    border-radius: 5px;
}
#images{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: #f4f4f4;
}
article{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-around;
    background-color: #54504f;
    color: white;
}
article h2{
    color:#97B735;
    margin: 10px;
}
article a{
    color:#97B735;
}
article div{
    padding: 30px;
}
#autor{
    margin-top: 50px;
    background-image: url("assets/avatar.png");
    background-repeat: no-repeat;
    background-position: left center;
    position: center center;
    padding-left: 150px;
}
footer{
    color: white;
    background-color: #97B735;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-around;
    padding: 5px 100px 30px 100px;
}
footer div{
    padding: 20px;
}